.container {
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: $background;
  height: 100vh;

  .start-page {
    margin-top: 15%;
    margin-left: 15%;

  }
  .content {
    margin-top: 10%;
  }
}

.game {
  display: none;
}

#ipsum {
  display: none;
}
