.container {
  display: flex;
  align-self: center;
  justify-content: center;
  // background-color: $background;
  background-image: url('/../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: $main;
  color: white;
  letter-spacing: 5px;
  font-size: 105%;
  

  .start-page {
    margin-top: 15%;
    margin-left: 15%;

  }
  .content {
    margin-top: 10%;
  }
}
#start-game {
  font-family: $main;
  color: white;
}

.game {
  display: none;
}

#ipsum {
  display: none;
  font-family: $main;
  color: white;
}

.dead {
  display: none;
  font-family: $main;
  color: white;
}
